# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Clion
.idea
cmake-build-debug

#Doxygen
doxygen/

#GDrive
desktop.ini

#Visual Studio
.vs
Casse-Brique.vcxproj.user
Casse-Brique.vcxproj.filters
Casse-Brique.json
Casse-Brique.sln
Casse-Brique.vcxproj

#CodeBlocks
Casse_brique.layout
Casse_brique.depend
Casse_brique.vcxproj.xml